{
    "web_user": "admin",
    "web_pass": "admin",
    "ips_enabled": true,
    "notifications": {
        "email_enabled": false,
        "email_to": "",
        "telegram_enabled": false,
        "telegram_token": "",
        "telegram_chat_id": ""
    }
}
